@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.jumbotron{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ), url('../landing-esports.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: 'Roboto', sans-serif;
}
.overwatch{
  text-align: center;
    width: 100px;
    height: 100px;
}